* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem; /* "rem" é uma forma de medida mais flexível que o "px", por exemplo. */
    background-color: #fff;
    height: 100vh; 
    width: 100vw;
}

/* Media Query - Para tornar o site dinâmico conforme o tamanho da tela*/
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: ;
    }
  }

/*
.content h1 {
    margin: 0;
}
*/